@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    background-color: #fff;
    color: #000;
}

/* header */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header__logo img {
    width: 167px;
    height: 51px;
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
    color: #000;
    font-weight: 600;
    transition: color .2s ease-in-out;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link_active,
.nav__link:hover {
    color: #E51937;
}

.nav__link_active::after {
    position: absolute;
    content: "";
    width: 60px;
    margin-top: 5px;
    border-bottom: 2px solid #E51937;
    display: block;
    border-bottom-left-radius: 5px 2px;
    border-bottom-right-radius: 5px 2px;
}

.header__login {
    display: flex;
    align-items: center;
}

.login__link {
    margin-right: 30px;
}

.header__burger {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-top: 5px;
}

.model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url(../img/header-tesla-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 55px;
    margin-bottom: 30px;
    overflow: hidden;
}

.model__title {
    font-size: 90px;
    line-height: 110px;
    font-weight: 600;
    margin: 30px 0 0 0;
}

.model__subtitle {
    font-weight: 500;
    margin: 0;
    margin-bottom: 25px;
}

.model__img {
    max-width: 62%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.inner__info {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.info__block-speed {
    width: 325px;
    display: flex;
    justify-content: space-between;
}

.inner__info-speed,
.inner__info-stock,
.inner__info-link {
    position: relative;
}

.inner__info-speed::before,
.inner__info-stock::before,
.inner__info-link::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
}

.inner__info-speed::before {
    background-image: url(../img/speed.png);
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    width: 46px;
    height: 35px;
}

.inner__info-stock::before {
    background-image: url(../img/stock.png);
    top: 8px;
    left: -45px;
    width: 40px;
    height: 50px;
}

.inner__info-link::before {
    background-image: url(../img/test.png);
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
}

.inner__info-title {
    font-size:  20px;
    line-height: 24px;
    font-weight: 600;
}

.inner__info-title span {
    font-size: 35px;
    line-height: 43px;
    font-weight: 600;
}

.inner__info-subtitle {
    font-size: 12px;
    line-height: 15px;
}

.info__block-test {
    display: flex;
    align-items: center;
}

.inner__info-link {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    margin-right: 30px;
}

.tesla-btn {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    background-color: #E51937;
    cursor: pointer;
    padding: 10px 44px;
    transition: .3s background, color linear;
}

.tesla-btn:hover {
    background-color: #fff;
    color: #E51937;
}

.model__info-btn {
    color: #E51937;
    border: 2px solid #E51937;
    background-color: #fff;
}

.model__info-btn:hover {
    background-color: #E51937;
    color: #fff;
}

.model__arrow {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* section - top */
.content {
    position: relative;
    overflow: hidden;
}

.content::after {
    position: absolute;
    content: "";
    right: 20px;
    bottom: 20px;
    width: 94px;
    height: 39px;
    background-image: url(../img/WHS-bottom.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../img/tesla-salon-top-section.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.top-title {
    font-size: 70px;
    line-height: 85px;
    font-weight: 600;
    color: #E51937;
    margin: 40px 0 0 40px;
}

.inner__content {
    max-width: 440px;
    background-color: #E51937;
    padding: 55px 45px;
    color: #fff;
}

.content__title {
    font-size: 30px;
    line-height: 37px;
    font-weight: 600;
    margin: 0;
}

.content__description {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 55px;
}

.inner__info-top {
    margin-bottom: 160px;
    margin-left: 60px;
}

.inner__info-display,
.inner__info-software {
    margin-bottom: 45px;
}

.inner__info-display,
.inner__info-software,
.inner__info-capacity,
.content__form {
    position: relative;
}

.inner__info-display::before,
.inner__info-software::before,
.inner__info-capacity::before,
.content__form::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
}

.inner__info-display::before {
    background-image: url(../img/top-inner-screen.png);
    top: 10px;
    left: -60px;
    width: 36px;
    height: 53px;
}

.inner__info-software::before {
    background-image: url(../img/top-inner-wifi.png);
    top: 20px;
    left: -65px;
    width: 44px;
    height: 34px;
}

.inner__info-capacity::before {
    background-image: url(../img/top-inner-bag.png);
    top: 10px;
    left: -60px;
    width: 36px;
    height: 52px;
}

.content__form::before {
    background-image: url(../img/learn-more.png);
    top: 10px;
    left: -5px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.content__form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form__link {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.form__btn {
    margin-left: 40px;
}

/* section - bottom */
.bottom {
    position: relative;
}

.bottom::before {
    position: absolute;
    content: "";
    top: 218px;
    right: 0;
    width: 50%;
    height: 151px;
    background-image: url(../img/bottom-Model\ S.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.bottom-img {
    position: relative;
}

.bottom-img::before {
    position: absolute;
    content: "";
    top: 240px;
    left: 370px;
    width: 68%;
    height: 592px;
    background-image: url(../img/bottom-car-group.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.star {
    list-style: none;
    padding: 0;
    margin-bottom: 70px;
}

.star__item {
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.star__item span {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.7;
    padding-top: 5px;
}

.star-group {
    width: 230px;
    padding-left: 30px;
}

.star-img {
    cursor: pointer;
}

.bottom__inner-quality {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.bottom__inner-quality::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/security.png);
    top: 12px;
    left: -5px;
    width: 62px;
    height: 74px;
}

.quality__title {
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    margin: 0;
}

.quality__subtitle {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

/* 1 section - adaptive */
@media (max-width: 1230px) {

    .container {
        max-width: 1230px;
        margin: 0 auto;
    }

}

@media (max-width: 1100px) {

    .login__link {
        display: none;
    }
    .model {
        background-position: center 70px;
    }
    
}

@media (max-width: 980px) {
    
    .nav {
        display: none;
    }
    .burger-btn {
        width: 35px;
        height: 22px;
    }
    .model {
        background-position: center 80px;
    }

}

@media (max-width: 880px) {
    
    .inner__info {
        flex-direction: column;
        padding-left: 30px;
    }
    .info__block-speed {
        margin-bottom: 30px;
    }

}

@media (max-width: 780px) {
    
    .model__subtitle {
        margin-bottom: 50px;
    }
    .model {
        background-position: center 100px;
    }
    .inner__info-stock::before {
        background-image: url(../img/stock-2.png);
        width: 35px;
        height: 55px;
    }
    .inner__info-link {
        font-size: 16px;
        color: #E51937;
        line-height: 20px;
        font-weight: bold;
    }
    .inner__info-link::before {
        background-image: url(../img/test-2.png);
        width: 30px;
        height: 30px;
        left: -45px;
    }
    .tesla-btn {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        background-color: #E51937;
    }
}

@media (max-width: 600px) {
    
    .header__inner {
        padding: 0;
    }
    .model {
        background-position: center 130px;
    }
    .model__subtitle {
        margin-bottom: 70px;
    }
    .model__title {
        font-size: 80px;
    }
}

@media (max-width: 540px) {

    .header__burger {
        padding-top: 0;
    }
    .model__title {
        font-size: 70px;
    }
    .model__img {
        margin-bottom: 20px;
    }
    .info__block-speed {
        margin-bottom: 40px;
    }
    .inner__info-speed::before {
        width: 40px;
        height: 30px;
    }
    .inner__info-stock::before {
        width: 30px;
        height: 50px;
    }
    .inner__info-title {
        font-size: 18px;
        line-height: 20px;
    }
    .inner__info-title span {
        font-size: 30px;
        line-height: 38px;
    }

}

@media (max-width: 460px) {
    
    .model__title {
        font-size: 50px;
        line-height: 61px;
    }
    .model__subtitle {
        font-size: 10px;
        line-height: 12px;
    }
    .info__block-speed {
        justify-content: space-around;
    }
    .inner__info-speed::before {
        width: 38px;
        height: 28px;
        left: -45px;
    }
    .inner__info-stock::before {
        width: 25px;
        height: 41px;
        left: -35px;
    }
    .inner__info-title {
        font-size: 15px;
        line-height: 18px;
    }
    .inner__info-title span {
        font-size: 27px;
        line-height: 33px;
    }
    .inner__info-subtitle {
        font-size: 10px;
        line-height: 12px;
    }
    .inner__info-link::before {
        width: 22px;
        height: 22px;
        left: -40px;
    }
    .inner__info-link {
        font-size: 13px;
        line-height: 16px;
    }
    .model__info-btn {
        font-size: 13px;
        line-height: 20px;
    }

}

@media (max-width: 370px) {
    
    .inner__info-link::before {
        left: -30px;
    }

}

@media (max-width: 320px) {

    .info__block-speed {
        padding: 0 15px;
        margin-bottom: 25px;
    }
    .inner__info-link {
        margin-right: 20px;
    }

}

@media (max-width: 318px) {
    
    .inner__info {
        display: flex;
    }
    .inner__info-subtitle {
        margin-bottom: 15px;
    }
    .info__block-speed {
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }
    .inner__info-speed::before,
    .inner__info-stock::before {
        left: 60px;
    }
    .info__block-test {
        flex-direction: column;
    }
    .inner__info-link {
        margin-bottom: 25px;
    }
    .model__info-btn {
        margin-left: -25px;
    }

}

/* 2 section - adaptive */
@media (max-width: 1024px) {

    .top {
        background-size: 100%;
        background-position: top left;
    }
    .top-title {
        width: 100%;
        text-align: right;
        margin-right: 50px;
    }
    .inner__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        margin-top: 49%;
    }
    .content__title {
        margin-bottom: 30px;
    }
    .content__description {
        width: 400px;
    }
    .content__form {
        display: block;
        margin: 0 auto;
    }
    .inner__info-top {
        margin-bottom: 60px;
    }
    .inner__info-display, 
    .inner__info-software {
        margin-bottom: 25px;
    }
    .content__form::before {
        left: -35px;
    }

}

@media (max-width: 940px) {

    .inner__info-top {
        width:  250px;
    }
    .inner__info-display, 
    .inner__info-software {
        margin-bottom: 40px;
    }
    
}

@media (max-width: 830px) {

    .content__description {
        width: 320px;
    }
    
}

@media (max-width: 940px) {

    .content__description {
        width: 300px;
    }
    .inner__info-top {
        width: 205px;
    }

}

@media (max-width: 740px) {

    .top {
        border-top: none;
    }
    .top-title {
        display: none;
    }
    .inner__content {
        margin-top: 66%;
    }


}

@media (max-width: 730px) {

    .inner__info-top {
        display: none;
    }
    .content__form {
        display: none;
    }
    .content__description {
        padding: 0;
        margin: 0;
        width: 100%;
    }

}

@media (max-width: 700px) {

    .inner__content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}

@media (max-width: 440px) {

    .content__title-top {
        margin-bottom: 20px;
    }
    .form__link {
        display: block;
        margin-bottom: 20px;
    }
    .content__form::before {
        top: 0;
    }
    .form__btn {
        margin: 0 auto;
    }

}

@media (max-width: 410px) {

    .inner__content {
        padding: 25px 15px;
    }

}

@media (max-width: 360px) {

    .inner__info-top {
        display: none;
    }
    .content__form {
        display: none;
    }

}

/* 3 section - adaptive */
@media (max-width: 1024px) {

    .bottom::before {
        top: -430px;
        left: 160px;
        width: 70%;
    }
    .bottom-img::before {
        top: -410px;
        left: 150px;
    }
    .bottom__inner-quality {
        display: none;
    }
    .content::after {
        display: none;
    }
    .inner__text-bottom {
        width: 370px;
    }
    .star-group {
        width: 175px;
    }
    .star__item {
        margin-bottom: 10px;
    }

}

@media (max-width: 930px) {

    .bottom::before {
        top: -400px;
    }
    .bottom-img::before {
        top: -380px;
    }

}

@media (max-width: 880px) {

    .bottom::before {
        top: -370px;
    }
    .bottom-img::before {
        top: -350px;
    }

}

@media (max-width: 780px) {

    .bottom::before {
        top: -340px;
    }
    .bottom-img::before {
        top: -320px;
    }

}


@media (max-width: 750px) {

    .bottom__inner-info {
        display: none;
    }
    .content__form-bottom {
        display: none;
    }
    .inner__text-bottom {
        width: 100%;
    }
    .content__description-bottom {
        margin-bottom: 0;
    }

}

@media (max-width: 780px) {

    .bottom::before {
        top: -380px;
        left: 120px;
    }
    .bottom-img::before {
        top: -360px;
        left: 120px;
    }

}

@media (max-width: 680px) {

    .bottom::before {
        top: -320px;
        left: 70px;
        width: 75%;
    }
    .bottom-img::before {
        top: -290px;
        left: 80px;
    }

}

@media (max-width: 580px) {

    .bottom::before {
        top: -300px;
        left: 90px;
    }
    .bottom-img::before {
        top: -280px;
        left: 100px;
    }

}

@media (max-width: 500px) {

    .bottom::before {
        top: -250px;
        left: 75px;
    }
    .bottom-img::before {
        top: -230px;
        left: 80px;
    }

}

@media (max-width: 440px) {

    .bottom::before {
        top: -220px;
        left: 40px;
        width: 80%;
    }
    .bottom-img::before {
        top: -205px;
    }

}

@media (max-width: 400px) {

    .bottom::before {
        top: -220px;
        left: 30px;
        width: 85%;
    }
    .bottom-img::before {
        top: -205px;
        left: 40px;
        width: 80%;
    }

}

@media (max-width: 360px) {

    .bottom::before {
        top: -220px;
        left: 5px;
        width: 105%;
    }
    .bottom-img::before {
        top: -205px;
        left: 10px;
        width: 95%;
    }
    .inner__text {
        margin-bottom: 30px;
    }

}

@media (max-width: 320px) {

    .bottom::before {
        top: -195px;
    }
    .bottom-img::before {
        top: -190px;
        left: 0;
        width: 100%;
    }

}